[user]
	name = Titouan Vervack
	email = titouan.vervack@sigasi.com
[color]
  ui = true
[core]
  editor = vim
[alias]
  unstage = reset HEAD --
  pushf = push --force-with-lease
  l   = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  c   = commit
  pu  = pull
  pur = pull --rebase
  r   = rebase
  p   = push
  s   = status
  d   = diff
  a   = add -A
  ch  = checkout
  b   = branch
  bm  = branch --merged
  rpr = remote prune origin
[credential]
  helper = cache --timeout=3600
[push]
  default = current
