!-----------------------------------------------------------------------------
! Xft settings
!-----------------------------------------------------------------------------

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

!-----------------------------------------------------------------------------
! URxvt settings
!
! More info at:
!   http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod
!   https://wiki.archlinux.org/index.php/rxvt-unicode
!-----------------------------------------------------------------------------

! Window size
URxvt.geometry: 90x24

! Flash terminal instead of making an annoying sound
URxvt.visualBell: true

! Scrollbar
URxvt.scrollstyle: plain
URxvt.scrollBar_right: true
URxvt.scrollColor: #2d2d2d

! Copy paste
URxvt.keysym.C-M-c: perl:clipboard:copy
URxvt.keysym.C-M-v: perl:clipboard:paste

! Change fontsize at runtime
URxvt.keysym.M-plus: perl:font-size:increase
URxvt.keysym.M-minus: perl:font-size:decrease

! Padding
URxvt.internalBorder: 3

! Fonts
URxvt*font: xft:Monospace:size=8
URxvt*letterSpace: -2

! Perl extensions: URLs
URxvt.perl-ext-common: matcher,clipboard,font-size
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

! Bubblegum
#define t_background #2d2d2d
#define t_current_line #393939
#define t_selection #515151
#define t_foreground #cccccc
! 244
#define t_comment #808080
! 168
#define t_red #d75f87
! 167
#define t_bright_red #d75f5f
! 172
#define t_orange #d78700
! 179
#define t_yellow #d7af5f
! 150
#define t_green #afd787
! 112
#define t_bright_green #87d700
! 81
#define t_aqua #5fd7ff
! 87
#define t_cyan #5fffff
! 68
#define t_blue #5f87d7
! 69
#define t_bright_blue #5f87ff
! 140
#define t_purple #af87d7
! 133
#define t_magenta #af5faf
*.foreground: t_foreground
*.background: t_background
*.cursorColor: #aeafad
! Black / Grey
*.color0: #000000
*.color8: #666666
! Red / Bright Red
*.color1: t_red
*.color9: t_bright_red
! Green + Bright Green
*.color2: t_green
*.color10: t_bright_green
! Yellow (Orange) + Bright Yellow (Yellow)
*.color3: t_orange
*.color11: t_yellow
! Blue + Bright Blue
*.color4: t_blue
*.color12: t_bright_blue
! Magenta (Purple) + Bright Magenta
*.color5: t_purple
*.color13: t_magenta
! Cyan (Aqua) + Bright Cyan
*.color6: t_aqua
*.color14: t_cyan
! Light Grey (Selection) + White (Current Line)
*.color7: t_selection
*.color15: t_current_line
